<%- include('../layouts/head.ejs') %>
<body>
    <%- include('../layouts/header.ejs') %>
    <style>
        .couponCard {
            outline: rgb(0, 93, 186);
            width: 300px;
            padding: 20px;
            border-radius: 20px;
            background: rgb(230, 230, 230);
            color: #67a30d;
            height: 300px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }
    </style>
    <main class="main" style="margin-top: 100px; margin-bottom: 100px;">

        <div class="page-content mt-4">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="dashboard-tab" href="/profile">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="/profile"
                                            role="tab" aria-controls="account-detail" aria-selected="true">Account
                                            details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="/profile"
                                            role="tab" aria-controls="orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" href="/wallet">Wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="track-orders-tab" href="/couponPage">Coupon</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="/profile"
                                            role="tab" aria-controls="address" aria-selected="true">My Address</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout" style="color: red;"><i
                                                class="fi-rs-sign-out mr-10"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                       
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->

    </main><!-- End .main -->

    <%- include('../layouts/footer.ejs') %>